.main-icon {
    height: 80%;
    aspect-ratio: 1 / 1;
    margin-right: 10%;
}

.icon {
    height: 40%;
    aspect-ratio: 1 / 1;
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    min-width: 960px;
    justify-content: space-between;
    height: 55px;
    z-index: 1000;
    background-color: #b0d0d6;
}

.nav-left {
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: left;
    margin-left: 0.5rem;
}

.nav-left.text-box{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    height: 60%;
    margin-left: max(min(3vw, 20px), 40px);
}

.nav-left.text{
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: max(min(.8vw, 8px), 12px);
    color: #00000066;
}

.nav-right {
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: right;
    margin-right: 1vw;
}

.home-button {
    display: flex;
    height: 100%;
    aspect-ratio: 5 / 2;
    align-items: center;
    background-color: #00000000;
    border: none;
    cursor: pointer;
    color: #000000;
    font-size: calc(min(80px, 6vh) / 2.75);
    font-weight: bold;
    white-space: nowrap;
}

.lang-select {
    display: flex;
    height: 50%;
    aspect-ratio: 3/1;
    align-items: center;
    justify-content: center;
    background-color: #00000000;
    font-size: calc(min(80px, 6vh) / 5);
    border-radius: 4px;
    cursor: pointer;
    padding-left: 2%;
}

.nav-button {
    display: flex;
    height: 100%;
    aspect-ratio: 5 / 3;
    align-items: center;
    justify-content: center;
    background-color: #00000000;
    border: none;
    cursor: pointer;
    color: #000000;
    gap: 7.5%;
    font-size: calc(min(80px, 6vh) / 4);
    font-weight: 00;
    white-space: nowrap;
}

.nav-button:hover {
    background-color: #0000001f;
}

.nav-text {
    position: relative;
    font-size: 16px;
    top: 3%;
}