.ocr-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: .25vw;
}

.ocr-input-slot {
  display: flex;
  width: cacl(100% - 2px);
  aspect-ratio: 4 / 3;
  border: 1px dashed #ffffff;
  border-radius: 8px;
  background-color: #ffffff33;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  font-size: 1.25rem;
}

.ocr-input-slot.main-slot {
  border: 1px dashed #eeff00;
  background-color: #eeff0055;
}

.ocr-input-slot:focus {
  border: 1px dashed #00fff2;
  background-color: #00fff233;
}

.ocr-preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*.ocr-result-box {
  margin-top: 1rem;
  padding: 0.5rem;
  background: #f4f4f4;
  border: 1px solid #ccc;
  font-size: 1rem;
  white-space: pre-wrap;
}*/