.profile-portrait {
    display: flex;
    width: min(90%, 1080px);
    min-width: 800px;
    flex-direction: column;
}

.profile-dropdown-grid {
    display: flex;
    width: 100%;
    margin-top: 2%;
}

.dropdown {
    display: flex;
    width: 20%;
    height: 100%;
    aspect-ratio: 4 / 1;
    font-size: 1rem;
    margin-left: 2.5%;
}

.profile-stat-info{
    display: flex;
    width: 97.5%;
    height: 2rem;
    color: #2f2f2f;
    align-self: center;
    align-items: center;
    justify-content: flex-end;
    font-size: 1rem;
    font-weight: 400;
}

.profile-card {
    display: flex;
    width: 100%;
    aspect-ratio: 21 / 9;
    background-color: rgb(200, 200, 200);
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /*
    background-image: url(../../public/Temp/Output.jpg);
    background-size: cover;
    background-position: center;
    */
}

.profile-card-img {
    display: flex;
    height: 100%;
    width: 30%;
    object-fit: cover;
}

.profile-card-stats {
    display: flex;
    width: 30%;
    height: 95%;
    align-self: center;
    background-color: #ffffff33;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.profile-card-equipment-grid {
    display: flex;
    width: 37.5%;
    height: 95%;
    margin: 0% 1.25%;
    align-self: center;
    background-color: #ffffff33;
}

.profile-stat-icon {
    display: flex;
    align-self: center;
    justify-self: center;
    height: 85%;
    aspect-ratio: 1 / 1;
}

.profile-stats-weapon {
    display: flex;
    width: 95%;
    height: 20%;
    align-self: center;
    margin-top: 2.5%;
}

.profile-stat-grid {
    display: flex;
    width: 95%;
    height: 65%;
    align-self: center;
    margin-top: 2.5%;
    justify-content: space-between;
    flex-direction: column;
}

.profile-weapon-img {
    display: flex;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
    background-color: #00000033;
}

.profile-weapon {
    display: flex;
    width: 68.125%;
    height: 100%;
    margin-left: 2.5%;
    flex-direction: column;
}

.profile-weapon-name {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
  }

.profile-weapon-stats-container {
    display: flex;
    height: 50%;
    width: 100%;
}

.profile-weapon-stats {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: right;
    font-size: 1.25rem;
    width: calc(50% - 0.5rem);
    height: 75%;
}

.profile-stats-score-grid{
    display: flex;
    width: 95%;
    height: 100%;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    margin: 2.5%;
    background-color: #ff000033;
}

.profile-stats-score-slot{
    display: flex;
    width: 30%;
    height: 100%;
    background-color: #00000033; 
}
