@font-face {
  font-family: 'en-font';
  src: url('../../assets/fonts/en.ttf') format('truetype');
}
@font-face {
  font-family: 'kr-font';
  src: url('../../assets/fonts/kr.ttf') format('truetype');
}
@font-face {
  font-family: 'jp-font';
  src: url('../../assets/fonts/jp.ttf') format('truetype');
}
@font-face {
  font-family: 'zh-font';
  src: url('../../assets/fonts/zh.ttf') format('truetype');
}
.enFont {
    font-family: "en-font", sans-serif;
}
.krFont {
    font-family: "kr-font", sans-serif;
}
.jpFont {
    font-family: "jp-font", sans-serif;
    transform: translateY(4px);
}
.zhFont {
    font-family: "zh-font", sans-serif;
    transform: translateY(-2px);
}

.profile-portrait {
    display: flex;
    width: clamp(856px, 80vw, 1070px);
    min-width: 856px;
    flex-direction: column;
}

.profile-card-slot {
    display: block;
    position: relative;
    width: 100%;
    min-width: 856px;
    aspect-ratio: 2140 / 940;
    box-shadow: 0px 10px 30px #000000;
    border: 1px solid #999999ff;
    background-color: #00000033;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 250;
}

.profile-slot {
    display: block;
    position: absolute;
    background-color: #ffffff33;
}

.profile-card-icon {
    display: block;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    object-fit: contain;
}

.profile-card-text {
    display: block;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 500;
}

.stat-score-slot{
    display: flex;
    width: 50%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.stat-score-text{
    display: flex;
    height: 100%;
    color: #ffffff;
    align-items: center;
    text-align: center;
}
.stat-score-text.title{
    width: 20%;
    justify-content: flex-start;
}
.stat-score-text.value{
    width: 50%;
    justify-content: flex-end;
}

.profile-select-slot{
    display: flex;
    position: relative;
    margin: 25px;
    width: calc(100% - 50px);
    min-width: 856px;
    align-items: center;
}
.empty-select-dropdown {
    display: flex;
    height: 100%;
    aspect-ratio: 1 / 2;
}