@font-face {
    font-family: 'en-font';
    src: url('../../assets/fonts/en.ttf') format('truetype');
}

@font-face {
    font-family: 'kr-font';
    src: url('../../assets/fonts/SUITE-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'jp-font';
    src: url('../../assets/fonts/jp.ttf') format('truetype');
}

@font-face {
    font-family: 'zh-font';
    src: url('../../assets/fonts/zh.ttf') format('truetype');
}

@font-face {
    font-family: 'num-font';
    src: url('../../assets/fonts/Roboto-Medium.ttf') format('truetype');
}

.enFont {
    font-family: "en-font", sans-serif;
}

.krFont {
    font-family: "kr-font", sans-serif;
}

.jpFont {
    font-family: "jp-font", sans-serif;
}

.zhFont {
    font-family: "zh-font", sans-serif;
}
.numFont {
    font-family: "num-font", sans-serif;
}

.profile-portrait {
    display: flex;
    width: clamp(856px, 80vw, 1070px);
    min-width: 856px;
    flex-direction: column;
}

.profile-filter-slot {
    display: block;
    position: relative;
    width: 100%;
    min-width: 856px;
    aspect-ratio: 20 / 1;
    /*
    background-color: #00000033;
    */
}

.profile-data-slot {
    display: flex;
    width: 97%;
    margin-left: 1.5%;
    aspect-ratio: 21 / 1;
    align-items: center;
    justify-content: center;
}

.profile-image-request-slot{
    display: flex;
    height: calc(80% - 0px);
    width: fit-content;
    min-width: calc(11% - 2px);
    margin-right: 1.5%;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #ffffff66;
    background: linear-gradient(330deg, #333366ff 0%, #0b0b44ff 100%);
    z-index: 250;
}
.profile-image-request-slot.top {
    align-self: flex-end;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.profile-image-request-slot.bottom {
    align-self: flex-start;
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.profile-image-request-slot.end {
    margin-left: auto;
    margin-right: 0;
}

.profile-image-request-button {
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;

    height: calc(80% - 0px);
    width: fit-content;
    min-width: calc(11% - 2px);
    margin-right: 1.5%;
    color: #fff;
    border: 1px solid #ffffff66;
    background: linear-gradient(330deg, #333366ff 0%, #0b0b44ff 100%);
    z-index: 250;
}

.profile-image-request-button.top {
    align-self: flex-end;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.profile-image-request-button.bottom {
    align-self: flex-start;
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-image-request-button.end {
    margin-left: auto;
    margin-right: 0;
}

.profile-image-request-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.profile-image-request-button:hover {
    background: linear-gradient(330deg, #666699ff 0%, #0b0b88ff 100%);
}

.profile-card-slot {
    display: block;
    position: relative;
    width: 100%;
    min-width: 856px;
    aspect-ratio: 2140 / 940;
    box-shadow: 0px 10px 30px #000000;
    border: 1px solid #999999ff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 250;
}

.profile-alert-text {
    display: flex;
    align-self: center;
    justify-self: flex-end;
    font-weight: 400;
    white-space: pre-wrap;
    text-align: right;
    line-height: 1.5;
    color: #00000099;
}

.profile-slot {
    display: block;
    position: absolute;
    background-color: #ffffff33;
}

.white-square-input {
    font-family: "en-font", sans-serif;
    background: transparent;
    border: 1px solid #ffffff33;
    color: #fff;
    line-height: 1;
}
.white-square-input:focus {
    border: 1px solid #ffffff66;
}

.profile-card-icon {
    display: block;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    object-fit: contain;
}

.profile-card-text {
    display: block;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 500;
}

.stat-score-slot {
    display: flex;
    width: 50%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.stat-score-text {
    display: flex;
    height: 100%;
    color: #ffffff;
    align-items: center;
    text-align: center;
}

.stat-score-text.title {
    width: 20%;
    justify-content: flex-start;
}

.stat-score-text.value {
    width: 50%;
    justify-content: flex-end;
}

.profile-select-slot {
    display: flex;
    position: relative;
    margin-top: 25px;
    margin-bottom: 15px;
    width: calc(100% - 50px);
    min-width: 856px;
    align-items: center;
}

.profile-card-character-constellation{
    pointer-events: none;
}

.empty-select-dropdown {
    display: flex;
    height: 100%;
    aspect-ratio: 1 / 2;
}

.profile-ocr-slot {
    display: block;
    position: relative;
    width: calc(100% - 2px);
    min-width: 856px;
    aspect-ratio: 2140 / 856; /* 5 : 2 */
    margin: 3% 0;
    border: 1px solid #fff;
    border-radius: 10px;
}
.ocr-select-slot {
    align-content: center;
    justify-content: center;
}
.ocr-text {
    color: #fff;
}
.ocr-text.title {
    font-weight: bold;
}