.sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    width: min(125px, 15vh);
    height: calc(100vh - 55px);
    box-sizing: border-box;
    z-index: 1000;
    background-color: #202020;
}

.sidebar-divider {
    height: 1px;
    width: 90%;
    background-color: #ffffff31;
    margin: 1.5vh;
}

.side-button {
    width: 100%;
    aspect-ratio: 7 / 2;
    background-color: #ffffff0f;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: max(min(1vw, 16px), 12px);
}

.side-button:hover {
    background-color: #ffffff11;
}