.character-stat-grid {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: min(max(1.5vw,22px), 25px);
    min-height: 1rem;
    box-sizing: border-box;
    background-color: #00000033;
    border-radius: 5px;
}

.character-stat-icon{
    width: min(max(1.25vw, 16px), 20px);
    margin-left: 2.5%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    align-self: center;
}

.character-stat-text-grid{
    display: flex;
    width: 100%;
    height: 100%;
}

.character-stat-text{
    display: flex;
    position: relative;
    width: 80%;
    align-self: center;
    text-align: center;
    font-size: max(min(0.77vw, 0.8rem), 0.7rem);
    line-height: 1.75;
}

.character-stat-text.R{
    width: 20%;
    margin-right: 5%;
    justify-content: right;
    font-weight: 500;
}