.sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    padding-top: 7px;
    width: max(min(125px, 10vw), 75px);
    height: calc(100vh - 55px);
    box-sizing: border-box;
    z-index: 500;
    background-color: #202020;
    border-right: 2px solid #181818;
}

.sidebar-divider {
    width: 95%;
    height: 1px;
    margin-top: 7px;
    background-color: #ffffff31;
    align-self: center;
    justify-content: center;
}

.side-button-slot {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60px;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    width: max(min(125px, 10vw), 75px);
    height: fit-content;
    margin-top: auto;
    z-index: 501;
}

.side-text {
    font-size: 14px;
}

.sidebar-footer-image {
    display: flex;
    width: 75%;
    aspect-ratio: 1 / 0.9;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    z-index: 501;
}

.sidebar-footer-empty {
    width: 100%;
    aspect-ratio: 10 / 1;
}

.sidebar-footer-button {
    position: flex;
    border: none;
    border-top: 2px solid #00000099;
    border-bottom: 2px solid #00000099;
    color: #ffffff;
    background: linear-gradient(0deg, #ffffff11 0%, #ffffff22 100%);
    cursor: pointer;
    z-index: 502;
}

.sidebar-footer-button:hover {
    background: linear-gradient(0deg, #ffffff22 0%, #ffffff11 100%);
}

.sidebar-footer-button:disabled {
    color: #ffffff33;
    background: linear-gradient(0deg, #00000011 0%, #00000022 100%);
}

.sidebar-footer-button:hover:disabled {
    color: #ffffff33;
    background: linear-gradient(0deg, #aa000011 0%, #aa000022 100%);
}

.side-button {
    width: 100%;
    height: 45px;
    background-color: #ffffff11;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: max(min(1vw, 16px), 12px);
}

.side-button:hover {
    background: linear-gradient(0deg, #ffffff44 0%, #ffffff22 100%);
}

.side-button:disabled {
    color: #ffffff33;
    background-color: #00000033;
}

.side-button:hover:disabled {
    color: #ffffff33;
    background-color: #aa000011;
}