.home-post-card {
    display: flex;
    position: relative;
    flex-direction: column;

    width: 90%;
    height: auto;

    padding: 5%;

    border-radius: 1rem;
    border: 1px solid #ffcc9966;

    overflow: hidden;
    z-index: 1;
}

.home-post-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/cardBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0.6);
    z-index: 0;
}

.home-post-card > * {
    position: relative;
    z-index: 1;
}

.home-post-card h3 {
    font-size: min(1.5vw, 1.5rem);
    color: #fff;
    margin: 0;
    padding: 0;
    word-break: keep-all;
    margin-bottom: 5%;
}

.home-post-card p {
    font-size: min(1vw, 1rem);
    color: #ccc;
    margin: 0;
    padding: 0;
    white-space: pre-line;
}

.home-post-card p.indent{
    margin-left: min(0.25vw, 0.25rem)
}

.home-post-card .home-post-detail-slot {
    display: flex;
    flex-direction: column;
    line-height: 130%;
}

.home-post-card .home-post-detail-slot > .subtitle {
    color: #fff;
    font-size: min(1.3vw, 1.3rem);
    margin-top: min(0.7vw, 0.7rem);
    margin-bottom: min(0.4vw, 0.4rem);
    font-weight: 700;
}

.home-post-card .home-post-detail-slot > .subtitle.start {
    margin-top: 0;
}

.home-post-card .home-post-detail-slot > p > em {
    color: #fbb;
}

.home-post-card time {
    color: #fff;
    text-align: right;
    margin-top: min(0.6vw, 0.6rem);
    word-break: keep-all;
}

@media (max-width: 720px) {
    .home-post-card {
        padding: 2.5%;
        width: auto;
        height: 35%;
        aspect-ratio: 4 / 2;
    }

    .home-post-card time {
        margin-top: auto;
    }
}