.image-drag-slot{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #00000066;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-drag-slot-content{
    display: flex;
    position: relative;
}
