.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url("/public/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.viewport {
    display: flex;
}

.main-content {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}