.echo-slot-body {
    display: flex;
    flex-direction: column;
    width: calc(19.5% - 2px);
    height: calc(100% - 2pxs);
    border: 1px solid #ccc;

    align-items: center;
    justify-content: flex-start;
}

.echo-slot-body.select {
    border: 1px solid #f00;
}

.echo-slot-body .echo-image-slot {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 2.5%;
    width: 95%;
    aspect-ratio: 1 / 1;
    align-items: center;
}

.echo-slot-body .echo-image-slot .echo-image {
    position: absolute;
    width: calc(min(4.8vw, 4.4rem) - 2px);
    top: 50%;
    left: 50%;
    border: 1px solid #ffffff33;
    transform: translate(-50%, -50%);
}

.echo-slot-body .echo-image-slot .harmony-image {
    position: absolute;
    width: min(2vw, 1.2rem);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 250;
}

.echo-slot-body .stat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.echo-slot-body .stat-container .echo-stat-slot {
    display: flex;
    width: 85%;
    aspect-ratio: 3.5 / 1;                                

    margin: 3% 0;

    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}
.echo-slot-body .stat-container.main {
    margin-top: 10%;
    margin-bottom: 2%;
}

.echo-slot-body .echo-stat-slot img {
    height: 90%;
}

.echo-slot-body .echo-stat-slot span {
    color: #f0f0f0;
    font-size: min(1vw, 1rem);
    transform: scaleX(0.925);
}

.echo-slot-body .score-container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: auto;
    margin-bottom: 2.5%;
    color: #f0f0f0;
    align-items: center;
}

.echo-slot-body .score-container .slot {
    display: flex;
    width: 85%;
    height: fit-content;
    align-items: flex-end;
    justify-content: space-between;
    font-size: min(0.7vw, 0.7rem);
}

.echo-slot-body .score-container img {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: min(2.75vw, 2.75rem);
    transform: translate(-50%, -50%);
}

.echo-slot-body .score-container span {
    white-space: nowrap;
}

.echo-slot-body .score-container em {
    text-decoration: underline;
}


.echo-slot-body .divider {
    width: 100%;
    height: 1px;
    background-color: #888;
}

.echo-slot-body .divider.echo {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
}

.echo-slot-body .divider.stat {
    width: 85%;
}