.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    padding-top: min(1vh, 10px);
    width: 175px;
    height: calc(100vh - min(80px, 6vh));
    box-sizing: border-box;
    background-color: #202020;
}

.side-button {
    margin-top: min(0.25vh, 10px);
    width: 100%;
    aspect-ratio: 7 / 2;
    background-color: #ffffff0f;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.1rem;
}

.side-button:hover {
    background-color: #ffffff11;
}