#page-slot {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1500px;
    height: fit-content;
    min-height: 100%;

    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;

    background-color: #ff000011;
}

@media (max-width: 780px) {
    #page-slot {
        width: 95%;
    }
}