.overlay-backdrop {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.55);
    display: grid;
    place-items: center;

    animation: fadeIn 0.15s ease-out;
}

.overlay-panel {
    display: flex;
    flex-direction: column;
    width: min(75vw, 70rem);
    min-width: 45rem;
    max-width: 70rem;
    aspect-ratio: 120 / 89;

    overflow: hidden;
    border-radius: 2%;
    border:  1px solid #666;
    box-shadow: 0 10px 30px #000000bb;

    background: #cccccccc;
    background: url("/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: min(1vw, 1rem);
    
    animation: scaleIn 0.15s ease-out;
}

.overlay-panel span {
    font-size: min(1.75vw, 1.75rem);
    font-weight: bold;
}

.overlay-header {
    display: flex;
    width: 98%;
    
    align-items: center;
    justify-content: space-between;
    padding: min(1vh, 1rem) 1%;

    color: #fff;
    font-size: min(1vw, 1rem);
    border-bottom: 1px solid #eee;
    gap: 12px;
}

.overlay-body {
    display: flex;
    width: 96%;
    height: 100%;
    padding: 2%;
    overflow: auto;
}

.overlay-close-btn {
    display: flex;
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;

    align-items: center;
    justify-content: center;

    border: 1px solid #ddd;
    background: transparent;
    cursor: pointer;

    transition: all 0.3s ease-out;
}

.overlay-close-btn::before,
.overlay-close-btn::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background: #ddd;
}

.overlay-close-btn::before {
    transform: rotate(45deg);
}

.overlay-close-btn::after {
    transform: rotate(-45deg);
}

.overlay-close-btn:hover {
    border: 1px solid #000;
    background: #ffffff44;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.96);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

@media (max-width: 1024px) {
    .overlay-panel {
        width: min(90vw, 70rem);
    }
}